* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  header .navbar {
    top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  header .navbar #num {
    width: 30%;
    border: 2px solid teal;
  }
  
  main .result {
    padding: 100px;
  }
  
  main .result #ul li {
    border: 1px solid teal;
    border-radius: 20px;
  }